.forksInteractionContainer {
    display: flex;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
  }

/* Chrome, Safari, Edge, Opera */
.forksInteractionContainer input::-webkit-outer-spin-button,
.forksInteractionContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.forksInteractionContainer input[type=number] {
  -moz-appearance: textfield;
}

.forksInteractionContainer button {
    display: inline-flex;
    border: none;
    border-radius: 8px;
    margin: 0;
    text-decoration: none;
    background: #d1d1d1;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 28px;
    width: 28px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forksInteractionContainer button:hover {
    background: #d1d1d1;
}

.forksInteractionContainer button:focus {
    background: #bdbdbd;
}

.forksInteractionContainer button:active {
    background: #e6e6e6;
}


.forksInteractionContainer .relative-parent {
    position: relative;
    min-width: 1em;
    width: min-content;
    display: flex;
    align-items: center;
    margin: 0 2px;
    padding: 0 1em;
    background: transparent;
  }

  .forksInteractionContainer .size-calibration {
    visibility: hidden;
    white-space: pre;
  }

  .forksInteractionContainer .autosized-input {
    position: absolute;
    left: 0;
    width: 100%;
  }
  
  .forksInteractionContainer .size-calibration, .forksInteractionContainer .autosized-input {
    background: transparent;
    border: 0;
    padding: 0;
    font-size: 32px;
    text-align: center;
    border-radius: 8px;
  }
  
.forksInteractionContainer .incrementDecrementContainer {
    display: flex;
    align-items: center;
}