/* Chrome, Safari, Edge, Opera */
.forksInteractionContainer input::-webkit-outer-spin-button,
.forksInteractionContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.forksInteractionContainer input[type=number] {
  -moz-appearance: textfield;
}

.forksInteractionContainer button {
    background: red;
    transform: translateY(-2px);
    border: none;
    border-radius: 8px;
    margin: 0;
    text-decoration: none;
    background: #d1d1d1;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    height: 24px;
    width: 24px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forksInteractionContainer button:hover {
    background: #acacac;
}

.forksInteractionContainer button:focus {
    background: #bdbdbd;
}

.forksInteractionContainer button:active {
    background: #e6e6e6;
}


.forksInteractionContainer .relative-parent {
    position: relative;
    min-width: 1em;
    width: min-content;
    display: flex;
    align-items: center;
    margin: 0 2px;
    padding: 0 .6em;
    background: transparent;
    transform: translateY(-4px);
  }

  .forksInteractionContainer .hide-buttons .relative-parent {
    transform: translateY(0);
  }

  .forksInteractionContainer .size-calibration {
    visibility: hidden;
    white-space: pre;
  }

  .forksInteractionContainer .autosized-input {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
  }
  
  .forksInteractionContainer .size-calibration, 
  .forksInteractionContainer .autosized-input,
  .forksInteractionStandout {
    background: transparent;
    border: 0;
    padding: 0;
    text-align: center;
    border-radius: 8px;
    font-family: serif;
  }
  
.forksInteractionContainer .incrementDecrementContainer {
  display: inline-flex;
  align-items: flex-end;
  padding: 0 .5em;
}

.forksInteractionStandout {
  display: inline-flex;
  border-bottom: 2px solid rgb(207, 207, 207);
  border-radius: 0;
}

.forksInteractionContainer .incrementDecrementContainer.hide-buttons button {
  display: none;
}

.forksInteractionContainer .hide-buttons .autosized-input {
  /* border-radius: 0;
  border-bottom: 2px solid gray;
  transform: translateY(2px); */
  background: rgb(236, 236, 236);
}

.forksInteractionContainer .hide-buttons .autosized-input:hover {
  background: rgb(215, 215, 215);
}

.forksInteractionContainer .autosized-input[disabled] {
  color: black;
}

/* .forksInteractionContainer .incrementDecrementContainer .relative-parent {
  transform: translateY(7px);
} */